.indexpage {
  background-color: yellow;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.indexpage li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

h1 {

text.align: center;
color: orange;

}